{% block sidebar %}
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <header class="header">
            <h1 class="brand-title">Bookshop</h1>
            <h2 class="brand-tagline">Welcome to my bookshop!</h2>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a class="pure-button" href="/">Home</a></li>
                    <li class="nav-item"><a class="pure-button" href="/catalog">Catalog</a></li>
                    <li class="nav-item"><a class="pure-button" href="/explore">Explore</a></li>
                </ul>
            </nav>
        </header>
    </div>
{% endblock %}